<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGIEscolar</title>

    <link href="~/lib/template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/lockscreen.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/invoice.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/demo.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-skins.min.css" rel="stylesheet" />
    <link href="~/lib/template/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <!-- Libs de gráficos -->
    <link href="~/lib/novus/build/nv.d3.min.css" rel="stylesheet" />
    <link href="~/lib/tabulator-master/dist/css/tabulator.css" rel="stylesheet" />
    <link href="~/css/table.config.layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active" style="z-index: 999;">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a asp-controller="Home" asp-action="Index" class="logo">SGI Escolar <span>SGI Escolar Agency</span></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index"><span class="fa fa-home mr-3"></span> Home</a>
                    </li>
                    <li>
                        <a asp-controller="Alunos" asp-action="Index"><span class="fa fa-user mr-3"></span> Alunos</a>
                    </li>
                    <li>
                        <a asp-controller="Professores" asp-action="Index"><span class="fa fa-user mr-3"></span> Profssores</a>
                    </li>
                    <li>
                        <a asp-controller="Turmas" asp-action="Index"><span class="fa fa-users mr-3"></span>Turmas</a>
                    </li>
                    <li>
                        <a asp-controller="Relatorios" asp-action="Index"><span class="fa fa-sticky-note mr-3"></span> Relatórios</a>
                    </li>
                    <li>
                        <a asp-controller="Semestres" asp-action="Index"><span class="fa fa-suitcase mr-3"></span> Semestres</a>
                    </li>
                    <li>
                        <a asp-controller="Gerenciamento" asp-action="Index"><span class="fa fa-cogs mr-3"></span> Gerenciamento</a>
                    </li>
                    <li>
                        <a asp-controller="Usuarios" asp-action="Index"><span class="fa fa-users mr-3"></span> Usuários</a>
                    </li>
                    <li>
                        <a asp-controller="Suporte" asp-action="Index"><span class="fa fa-paper-plane mr-3"></span> Contate-nos</a>
                    </li>
                    <li>
                        <a asp-controller="Login" asp-action="Logout"><span class="fa fa-arrow-left mr-3"></span>Sair</a>
                    </li>
                </ul>

                <div class="mb-5">

                </div>

                <div class="footer">

                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <div id="ribbon">
                @RenderSection("sitemap", false)
            </div>
            <vc:summary></vc:summary>
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <p>SGI Agency - Sistemas de Gerenciamento Interno</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="~/lib/template/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/template/js/app.config.js"></script>
    <script src="~/lib/template/js/notification/SmartNotification.min.js"></script>
    <script src="~/lib/template/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="~/lib/template/js/plugin/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/lib/template/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/lib/template/js/plugin/maskMoney/jquery.maskMoney.min.js"></script>
    <script src="~/lib/template/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="~/lib/template/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <script src="~/lib/template/js/plugin/fastclick/fastclick.min.js"></script>
    <script src="~/lib/template/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/template/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/lib/template/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/lib/template/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/template/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="~/lib/template/js/app.min.js"></script>
    <script src="~/js/dataTableConfig.js"></script>
    <script src="~/js/bootbox.js"></script>
    <!-- Tabulator - Biblioteca de gerenciamento de tabelas -->
    <script src="~/lib/tabulator-master/dist/js/tabulator.min.js"></script>
    <script src="~/lib/tabulator-master/dist/js/modules/ajax.min.js"></script>
    <script src="~/lib/tabulator-master/dist/js/modules/responsive_layout.js"></script>
    <script src="~/lib/tabulator-master/dist/js/modules/accessor.min.js"></script>
    <script src="~/lib/tabulator-master/dist/js/modules/format.min.js"></script>
    <script src="~/lib/tabulator-master/dist/js/modules/mutator.min.js"></script>
    <!-- libs de gráficos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="~/lib/novus/build/nv.d3.min.js"></script>
    <script src="~/lib/novus/src/models/discreteBarChart.js"></script>

    <script src="~/lib/tabulator-master/tabulator.config.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/formmascaras.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
